@font-face
{
  font-family: Sreg;
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face
{
  font-family: Ssemi;
  src: url('../fonts/SourceSansPro-Semibold.ttf');
}

@font-face
{
  font-family: Sbold;
  src: url('../fonts/SourceSansPro-Bold.ttf');
}

@font-face
{
  font-family: Sit;
  src: url('../fonts/SourceSansPro-LightIt.ttf');
}






body{
	overflow:hidden; 
	font-family: Sreg;
}


#map {
    width: 100% !important;
    height: 100%; 
    position: absolute;
    z-index: 0;
}

#map img {
	max-width: none;
}

input[type="text"] {
	width: 100px;
	margin: 0px;
}


b{
	font-family: Ssemi;
}




/*LOGO --------------------------------------------------------*/
.logotipo{
	width: 230px;
	height: 50px;

	top: 20px;
	left: 15px;
	z-index: 999999999999;
	position: fixed;

	background: rgba(0,0,0,0.8);
}

.conLog{
	width:160px;
	height:40px;

	margin-top: 6px;
	margin-left: 5%;

	display:block; 
    position:relative;
    overflow:hidden;

    background: transparent;
}
#imgLog{
	position:absolute;
    top:0;
    left:0; 
    width:100%;
    background: transparent;
}
/*LOGO --------------------------------------------------------*/



.report img {
	margin: 5px;
	width: calc(50% - 15px);
}


.wrapList{
	width: 100%;
	margin-left: 2%;

	overflow-x: hidden;
	overflow-y: auto;
	
	margin-top: 5.500em;
	max-height:85%;

	z-index:100;
	position: absolute;
	outline: none;
}	


#reports{
	min-height: 1000px;
}

.con_report{
	margin-bottom: -20px !important;
}



.report{
	background: rgba(192, 57, 43, 0.9);
	margin-right: -20px;
	margin-bottom: 25px;
}


.occu_wraper{
	width: 100%;
	margin-top: -100px !important;
	margin-bottom: 25px;
	overflow-y:auto; 
	overflow-x:hidden; 
	max-height: 400px;
}

.occurrencia{
	margin-bottom: 10px !important;
}

.occu_report{
	margin-left: 2% !important;
}

.occuren{
	margin: auto;
	margin-left: 5% !important;
	width: 100% !important;
	margin-bottom: 25px !important;
	background: rgba(192, 57, 43, 0.9);
}

.position{
	width:40% !important;
	border: none !important;
}

#route-name{
	width:40% !important;
	border: none !important;
}


.titulo{
	font-size: 28px;
	padding:8px;
}
.descricao{
	font-size: 20px;
	padding:8px;
}
.data{
	font-size: 16px;
	padding:8px;
}




.bts{
	margin-top: 10px;
	margin-bottom: 60px;
}

.icons{
	width:100%;
	height: 100%;
}

.conten{
	margin-bottom: 5px;
	margin-right: 6%;
	width:42%;
	height: 40px;
	background: rgba(192, 57, 43, 0.9);
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
}

.img{
	position:absolute;
	top: 7px;
	left: calc(50% - 27.5%);
	width:55%;
	margin: auto;
}

.imgView{
	top: 12px !important;  
}

.imgEdit{
	top: 7px !important;  
}



.conPh{
	margin-top: -10px !important;
	display: block;
	overflow: hidden;
	position: relative;
	width: 44%;
	margin-right: 10%;
	height: 150px;
	float: left;
	margin-bottom: 20px;
}

.photo{
	position:absolute;
	top: 0px;
	left: 0px;
	width:100%;
	margin: auto;
}




#graph{
	position: absolute;
	z-index: 999999999999;
	width: 30%;
	height: 70%;
	left: 60%;
	top:130px;
	display: none;
}








#contentBox{
	width: 370px;
	height: 150px;
	background: rgba(192, 57, 43, 0.9);
}
.tipNome{
	padding-top: 10px !important;
}
.tipNome, .tipTipo, .tipId, .tipData{
	font-family: Sreg;
	margin-bottom: 15px;
	font-size: 16px;
	margin-left: 10px;
	color: white;
}

.tipConF{
	width: 123px;
	height: 80px;
	background: yellow;
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}
.tipFoto{
	position:absolute;
	top: 0px;
	left: 0px;
	width:100%;
	margin: auto;
}












::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}




