<!doctype html>
<html class="no-js" lang="en">
{% load staticfiles %}

  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPERORoads</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

    <script src="static/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
  </head>
  <body>
    <div class="logotipo">
      <div class="conLog">
        <img id="imgLog" src="static/img/logo.png" />
      </div>  
    </div>

    <div id="wrapC" class="row wrapList" style ="width: 50%;">
      <div class="large-12 medium-12 columns" id="reports">
      </div>  
    </div>

    <div id="graph">
    </div>

    <div class="conMap">
      <div id="map"></div>
    </div>


    <script src="static/js/vendor/jquery.js"></script>

    <script src="static/js/foundation.min.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script src="static/scripts/main.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
